/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --- END CSS RESET --- */

/* CSS by Torstein Thune */
html {
	box-shadow: inset 0px 0px 20px #ccc;
	min-height: 100%;
}
body {
	font-family: Arial;
	color: #333;
	font-size: 14px;
	line-height: 1.6;
}
	body.home {
		padding-top: 30px;
	}
/* clearfix */
/* For modern browsers */
.cf:before,
.cf:after {
	content:"";
	display:table;
}

.cf:after {
	clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
	zoom:1;
}

/* text */
h1, h2, h3, h4 {
	color: #DD0000;
}

h1 {
	font-size: 40px;
	text-shadow: 1px 1px 0px #bbb;
}

h2 {
	font-size: 22px;
	
}

h3 {
	font-size: 18px;
}

h4{
	font-size: 16px;
}

p {
	margin-bottom: 20px;
}

a {
	color: #0099FF;
	text-decoration: none;
}
	a:hover {
		text-decoration: underline;
	}

/* general div classes */
.full {
	width: 980px;
	clear:both;
}

.left {
	float:left;
}

.right {
	float:right;
}

.half {
	width: 480px;
}
.text_center {
	text-align:center;
}
.standard_margin {
	margin-bottom: 20px;
}

.hidden {
	display:block;
}
#sources, #help, #rdf {
	display:none;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 10px;
}
#sources .close, #help .close {
	position: absolute;
	right: 10px;
	top: 10px;
}
#sources:target, #help:target {
	display: block;
}

/* image formating */
.rounded_image {
}
.rounded_coverart {
}

#header {
	width: 980px;
	margin: 0 auto;
	
	position: relative;
	
	margin-bottom: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
}
	#logo {
		float:left;
	}
	.home #logo {
		margin: 0 auto;
		float: none !important;
		display: block;
		text-align:center;
		margin-bottom: 30px;
	}
	.home #search_form {
		width: 785px !important;
	}
		.home #search_form input {
			width: 750px !important;
		}
	#search_form {
		width: 310px;
		margin: 0 auto;
		position:relative;
	}
		#search_form input {
			display: inline-block;
			width: 275px;
			padding-left: 10px;
			padding-right: 25px;
			height: 36px;
			position: absolute;
			left:0;
			
			border: 1px solid #999;
			
			border-radius: 8px;
			box-shadow: 0px 0px 10px #ccc;
			
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			-o-transition: all 0.2s eas-in;
			transition: all 0.2s ease-in;
		}
		#search_form input:focus {
			color: #333;
			box-shadow: 0px 0px 10px #FF0000;
			outline: none;
		}
		#search_form button {
			text-indent: -10000px;
			width: 20px;
			position: absolute;
			right: 10px;
			top: 10px;
			height: 21px;
			background: url('../images/search-magnifier.png') top center no-repeat;
			border:0;
			cursor: pointer;
		}
			#search_form button:hover {
				background: url('../images/search-magnifier.png') center center no-repeat;
			}
			#search_form button:active {
				top: 11px;
			}
	
	#header .header_meta_links {
		position: absolute; 
		right: 0;
		bottom: 30px;
	}
		.header_meta_links li {
			float:left;
			list-style: disc inside;
			padding-left: 10px;
		}
		.header_meta_links li:first-child {
			list-style:none;
		}
	.home_meta_link {
		clear:both;
		float:right;
	}
			
.main_wrapper {
	margin: 0 auto;
	margin-bottom: 50px;
}
	.main_wrapper > div {
		margin-bottom: 50px;
	}
	.main_wrapper > div > h2 {
		margin-bottom: 10px;
	}
	.main_wrapper > div p:last-child {
		margin-bottom: 0;
	}

/* search result header */
.headline_wrapper {
	position:relative;
	background: url('../images/headline-background.png');
	
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	
	min-height: 100px;
	
	padding-top: 30px;
	padding-bottom: 30px;
	
	margin-bottom: 30px;
	
	text-align:center;
	box-shadow: inset 0px 0px 10px 6px rgba(85,85,85,0.3);
}
	.tour:before {
		height: 87px;
		width: 89px;
		background: url(../images/on-tour.png) no-repeat right top;
		position: absolute;
		top: 0;
		right: 0;
		content: '';
	}
	.headline_wrapper:after {
		height: 30px;
		width: 100%;
		position: absolute;
		bottom: -31px;
		left:0;
		background: #fff; /* Old browsers */
		background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(204,204,204,0) 100%); /* FF3.6+ */
		background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(204,204,204,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(204,204,204,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(204,204,204,0) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(204,204,204,1) 0%,rgba(204,204,204,0) 100%); /* W3C */
		content:' ';
	}
	.headline {
		text-align: left;
		display: inline-block;
		max-width: 980px;
		margin: 0 auto;
		position:relative;
		text-align:center;
	}
	.headline_wrapper h1 {
		clear:right;
		margin:0;
		padding:0;
		line-height: 1;
	}
	.headline_wrapper img {
		margin-right: 20px;
		float:left;
		/*box-shadow: 3px 3px 6px #666;*/
		border-bottom: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-top: 1px solid #666;
		border-left: 1px solid #666;
		
	}
	.h1-wrapper {
		text-align:left;
		float:left;
		max-width: 410px;
		margin-top: 40px;
		margin-bottom: 40px;
		display: inline-block;
	}
	.h1-description {
		font-size: 20px;
		color: #fff;
	}
		.h1-description ul {
			display: inline;
		}
		.h1-description ul li {
			display:inline-block;
		}
		.h1-description ul li:after {
			content ', ';
			display: block;
		}
		.h1-description ul li:last-child:after {
			content: ' ';
		}
	.h1-wrapper audio {
		margin-top: 10px;
		display:block;
	}
	.headline_links {
		position: absolute;
		bottom: 0;
		left:0;
	}
		.headline_links li {
			display: inline-block;
			background: #ccc;
			padding: 5px;
			border-bottom-right-margin: 5px;
			border-bottom-left-margin: 5px;
		}
		
.meta_list > ul {
	box-shadow: 3px 3px 6px #ddd;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.meta_list > ul > li {
	padding: 5px;
}
	.meta_list > ul > li:first-child {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.meta_list > ul > li:nth-child(odd) {
		background: #eee;
	}
	.meta_list > ul > li:last-child {
		border: none;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.meta_list > ul > li ul li {
		list-style: disc inside;
		margin-left: 10px;
	}

/* used in upcoming concerts */
.concert_map {
	background: url('..//images/map-background.png');
	border-radius: 10px;
	height: 600px;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 3px 3px 6px #ddd;
}
	#concert_map {
		width: 100%;
		height: 100%;
	}
.zebra_list {
	box-shadow: 3px 3px 6px #ddd;
	border-radius: 10px;
	border: 1px solid #ccc;
}
	.zebra_list li {
		padding: 10px;
	}
	.zebra_list li:first-child {
		border: none;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.zebra_list li:last-child {
		border: none;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.zebra_list li:nth-child(odd) {
		background: #eee;
	}
.tracks img {
	vertical-align:middle;
	float:right;
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -12.5px;
}
	.tracks img:active {
		margin-top: -11.5px;
	}
.zebra_table {
	width:100%;
	margin:0 auto;
	border-radius: 5px;
	box-shadow: 3px 3px 6px #ddd;
}

	/* table header */
	.zebra_table tr:first-child {
		border: 0 !important;
	}
	.zebra_table th {
		font-size: 16px;
		color: #fff;
		background: #DD0000;
		text-align:left;
	}
	
	/* rest of table */
	.zebra_table tr:nth-child(even) {
		background: #eee;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}
	.zebra_table tr:nth-child(odd) {
		background: #fff;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}
	.zebra_table tr:nth-child(2) {
		border: 1px solid #ccc;
		border-bottom: 0;
		border-left-top-radius: 10px;
		border-top-right-radius: 10px;
	}
	
	.zebra_table tr:last-child {
		border: 1px solid #ccc;
		border-top: 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
	.zebra_table td, .zebra_table th {
		padding: 10px;
		position:relative;
	}


/* used in discography */
.discography {

}
.album_list_wrapper {
	height: 200px;
	background: #eee;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	position: relative;
	
	box-shadow: 3px 3px 6px #ddd;
}
.main_wrapper .album_list_wrapper{
	border-radius: 10px;
	border: 1px solid #ccc;
}
.prev {
	position: absolute;
	height: 65px;
	width: 30px;
	background: url('../images/prev-scroll-arrow.png') no-repeat center center rgba(0,0,0,0.7);
	border: 0;
	top: 50%;
	margin-top: -32px;
	left: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index:2;
	
	text-indent: -9999px;
}
.next {
	position: absolute;
	height: 64px;
	width: 30px;
	background: url('../images/next-scroll-arrow.png') no-repeat center center rgba(0,0,0,0.7);
	border:0;
	top: 50%;
	margin-top: -32px;
	right:0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index:2;
	
	text-indent: -9999px;
}
	.next.disabled, .prev.disabled {
		background-color: #aaa;
	}
	.next:hover, .prev:hover {
		background-color: rgba(0,0,0,1);
	}
	.next.disabled:hover, .prev.disabled:hover {
		background-color: #aaa;
	}
	.next:active, .prev:active {
		margin-top: -31px;
	}
	.next.disabled:active, .prev.disabled:active {
		margin-top: -32px;
	}
.album_list_carousel {
	height: 200px;
}
.album_list {
	list-style: none;
	
	z-index:1;
}
	.album_list > li {
		display: inline-block;
		float:left;
		width: 210px;
		height: 180px;
		margin: 5px;
		margin-top:0;
		padding: 10px;
		background: #fff;
		position: relative;
		border-left: 1px solid #ccc;
		border-right:1px solid #ccc;
	}
		.album_list h3 {
			color: #0099FF;
		}
		.album_list > li:hover {
			/*background: #000;
			color: #fff;*/
		}
		/* coverart */
		.album_list img {
			display: inline-block;
			float:left;
			margin-right: 5px;
			width: 100px;
			height: 100px;
		}
		/* album meta */
		.album_list h3 {
			margin-bottom: 10px;
			font-size: 16px;
		}
		.album_list span {
			clear:right;
		}
		.album_list .album_tracks {
			position: absolute;
			top: 159px;
			width: 100%;
			left: -1px;
			display:none;
			border:1px solid #ccc;
			border-top: 0;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			z-index:10;
		}
			.album_list h4 {
				margin-top: 0;
				padding: 10px;
				background: #333;
				color: #fff;
				font-weight: bold;
			}
			.album_list > li:hover .album_tracks {
				display: block;
			}
			.album_tracks {
				box-shadow(0px,0px,5px,0,0,0,0.2);
			}
				.album_tracks li {
					padding: 10px;
					
					height: 20px !important;
				}
				.album_tracks li:nth-child(odd) {
					background: rgba(0,0,0,0.9);
					color: #fff;
				}
				.album_tracks li:nth-child(even) {
					background: rgba(0,0,0,0.7);
					color: #fff;
				}
				.album_tracks li:last-child {
					border-bottom-left-radius: 10px;
					border-bottom-right-radius: 10px;
				}
	.related_artists {
		
	}
	.artist_list, .related_list {
		background: #eee;
		width: 980px;
		height: 450px;
		overflow:auto;
		border: 1px solid #ccc;
		border-radius: 10px;
		box-shadow: 3px 3px 6px #ddd;
	}
		.artist_list li, .related_list li {
			display:inline-block;
			
		}
		.artist_list li a, .related_list li a {
			display: block;
			
			background: #fff;
			border: 1px solid #ccc;
			padding: 7px;
			width: 210px;
			margin: 5px;
			
			border-radius: 10px;
		}
			.artist_list li a:hover, .related_list li a:hover {
				background: #0099FF;
				color: #fff;
			}
		.artist_list li img, .related_list li img {
			width: 210px;
			height: 168px;
		}
		.artist_list li .artist_name, .related_list li .related_name {
			font-size: 16px;
		}
		.artist_list li a .artist_short_desc {
			color: #333;
		}
		.artist_list li a:hover .artist_short_desc {
			color: #fff;
			text-decoration: none;
		}

#footer {
	text-align:center;
	color: #666;
	margin-bottom: 200px;
}

.hidden {
	display:none;
	border-color:red;
	font-weight: bold;
}