/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --- END CSS RESET --- */

body {
	font-family: Arial;
	color: #333;
	font-size: 14px;
	line-height: 1.4;
}

/* text */
h1, h2, h3, h4 {
	color: #DD0000;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 22px;
	
}

h3 {
	font-size: 18px;
}

h4{
	font-size: 16px;
}

p {
	margin-bottom: 20px;
}

a {
	color: #0099FF;
	text-decoration: none;
}
	a:hover {
		text-decoration: underline;
	}

/* general div classes */
.full {
	width: 980px;
	clear:both;
}

.left {
	float:left;
}

.right {
	float:right;
}

.half {
	width: 480px;
}

#header {
	margin-bottom: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
	
	width: 980px;
	margin: 0 auto;

}
	#logo {
		float:left;
	}
	#search_form {
		display: block;
		margin: 0 auto;
		
		width: 310px;
		height: 36px;
		
		border: 1px solid #666;
		
		border-radius: 8px;
		box-shadow: 0px 0px 10px #ccc;
		padding:0;
	}
		#search_form input {
			border:0;
			margin-left:0;
			width: 265px;
			height: 36px;
			
			padding:0;
			padding-left: 10px;
			
			background: transparent;
			font-size: 15px;
		}
		#search_form button {
			text-indent: -10000px;
			width: 20px;
			height: 20px;
			background: #333;
			border:0;
		}

.main_wrapper {
	margin: 0 auto;
}

.main_wrapper > div {
	margin-bottom: 20px;
}

/* used in discography */
.album_list {
	list-style: none;
	width: 980px;
	margin: 0 auto;
}
	.album_list > li {
		display: inline-block;
		width: 280px;
		height: 100px;
		padding: 10px;
		background: #efefef;
		position:relative;
		border-radius: 10px;
		border:1px solid #ccc;
	}
		.album_list h3 {
			color: #0099FF;
		}
		.album_list > li:hover {
			background: #333;
			color: #fff;
			
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
		/* coverart */
		.album_list img {
			display: inline-block;
			float:left;
			margin-right: 5px;
			width: 100px;
			height: 100px;
		}
		/* album meta */
		.album_list h3 {
			float:left;
			clear:none;
			}
		.album_list span {
			clear:right;
		}
		.album_list .album_tracks {
			position: absolute;
			top: 110px;
			width: 100%;
			left: -1px;
			display:none;
			border:1px solid #ccc;
			border-top: 0;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
			.album_list h4 {
				margin-top: 0;
				padding: 10px;
				background: #333;
				color: #fff;
				font-weight: bold;
			}
			.album_list > li:hover .album_tracks {
				display: block;
			}
			.album_tracks li {
				padding: 10px;
				width: 280px;
			}
			.album_tracks li:nth-child(odd) {
				background: #fff;
				background: rgba(255,255,255,0.9);
				color: #333;
			}
			.album_tracks li:nth-child(even) {
				background: #eee;
				background: rgba(238,238,238,0.9);
				color: #333;
			}
			.album_tracks li:last-child {
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
#footer {
	text-align:center;
	color: #666;
	margin-bottom: 200px;
}